<h1>Interested in:</h1>

<div id ='concerts-list'>
<% @concertsusers = ConcertsUser.all %>

<% @concertsusers.each do |c| %>
  <% concert = Concert.find(c.concert_id) %>
  <div class='concerts'>
  <%= link_to concert, :class => "btn btn-inverse btn-mini", :style => 'color: #FFFFFF' do %>
      <%= concert.artist.name%><br><%= l concert.date, :format=>:day %>
  <% end %>
  <i class='icon-remove' id= <%= c.id %> ></i>
  </div>
<% end %>
</div>

<br><br>
<h1>See all concerts by:</h1>
<ul class="nav nav-list">
  <li> <a href='/artist_vis'>Artist Similarity</a></li>
  <li><a href='/friends_vis'>Friends' Interests</a></li>
  <li><a href="/calendar">Date</a></li>
</ul>

