<h1>Filters:</h1>

<p>
	Maximum price: <span id='amount'></span>
</p>

<div id="price-filter"></div>

<p>Age restrictions</p>
<form id="ages" class='form-inline'>
    <input type="radio" name='age' id="eighteen" /><label for="eighteen">Under 18</label><br/>
    <input type="radio" name='age' id="twentyone" /><label for="twentyone">Under 21</label><br/>
    <input type="radio" name='age' id="all-ages" checked/><label for="all-ages">No restrictions</label>
</form>