<h1>Filters:</h1>

<p>
	Maximum price: <span id='amount'></span>
</p>

<div id="price-filter"></div>

<p>Age restrictions</p>
<form id="ages" class='form-inline'>
    <label for="eighteen">18+</label><input type="checkbox" id="eighteen" />
    <label for="twentyone">21+</label><input type="checkbox" id="twentyone" />
</form>