<h1>Filters:</h1>

<p>
	Price Legend
</p>

<div class='price-legend' id="price-legend0"><$10</div>
<div class='price-legend' id="price-legend1">$10s</div>
<div class='price-legend' id="price-legend2">$20s</div>
<div class='price-legend' id="price-legend3">$30s</div>
<div class='price-legend' id="price-legend4">$40s</div>

<br>
<p>Age restrictions</p>
<form id="ages" class='form-inline'>
    <input type="radio" name='age' id="eighteen" /><label for="eighteen">Under 18</label><br/>
    <input type="radio" name='age' id="twentyone" /><label for="twentyone">Under 21</label><br/>
    <input type="radio" name='age' id="all-ages" checked/><label for="all-ages">No restrictions</label>
</form>

