<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
       <% # should be a partial %>
      <a class="brand" href="/">ConcertBOS</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/concerts">Concerts</a></li>
        <li><a href="/venues">Venues</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/sign_in">Sign In</a></li>
      </ul>
    </div>
  </div>
</div>

