<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">ConcertBOS</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
            <li ><a href="/" class="">Home</a></li>
            <li><a href="/concerts" class="nelt">Concerts</a></li>
            <li><a href="/venues" class="nelt">Venues</a></li>
            <li><a href="/artists" class="nelt">Artists</a></li>
        </ul>
        <ul class="nav pull-right">
                <li><a href="/">Sign Out</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

