<% title 'Artists' %>

<table class="table-bordered table-striped table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
    <tr>
    <td>
        <%= link_to artist, :html => {:style => 'text-decoration: none'}  do %>
            <%= artist.name%>
        <% end %>
    </td>


      <td>
        <%= link_to artist, :class => "btn btn-inverse btn-mini", :style => 'color: #FFFFFF' do %>
            <i class="icon-step-forward icon-white"></i>
        <% end %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% content_for :filterbar do %>
    <h2>Info:</h2>
    <p>Click on <icon class='icon-step-forward'> </i> to see more about the artist.
<% end %>

<br />

