<% title 'Artist Similarity' %>

Click on a concert node to indicate interest.
    <div id="chart"></div>
    <script type="text/javascript" src="assets/tree-radial-m.js"></script>

<% content_for :filterbar do %>
    <%=  render :partial => 'common-partials/filterbar' %>
    <h2>Info:</h2>
    <p>Click on a concert to indicate interest.
    <p>The middle of the graph is seeded by artists that you've played the most on <a href='last.fm'>last.fm</a>.
<% end %>

