<div class="hero-unit">
  <h1>ConcertBOS</h1>
   <br>
  <p>Concert discovery designed for musicians in the greater Boston area.</p>

  <p><img class="thumbnail" src='assets/boston-map.png'></img>

  <small>Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.</small>
  </p>

  <p><br>
    <a class="btn btn-inverse" href='/start' style='color: white'>
      <i class="icon-music icon-white"></i>
      Get Started!
    </a>
  </p>
</div>

