<% title '- ' %>

<div class="hero-unit">
  <h1>ConcertBOS</h1>
   <br>
  <p>Concert discovery designed for musicians in the greater Boston area.</p>
  <p><br>
    <a class="btn btn-inverse" href='/venues' style='color: white'>
      <i class="icon-music icon-white"></i>
      Get Started!
    </a>
  </p>
</div>

