<div class="hero-unit" id='start'>
  <h1>Visualize concerts by . . .</h1>
   <br>
  <ul>
  <li> <%= link_to "artist_vis" do %>
                the <em>artist</em> that's playing
           <% end %>
  </li>
  <li><%= link_to "friends_vis" do%>
            what your <em>friends</em> like.
            <% end %>
  </li>
  <li><%= link_to "calendar" do%>
            <em>when</em> the concert is.
            <% end %>
  </li>
  </ul>
</div>

