<div class="hero-unit" id='start'>
  <h1>You care about . . .</h1>
   <br>
  <ul>
  <li><a href='/artist'>the <em>artist</em> that's playing.</a></li>
  <li><a href='/friend'>what your <em>friends</em> like.</a></li>
  <li><a href='/calendar'><em>when</em> the concert is.</a></li>
  </ul>
</div>

