.span2 h1 {
  font-size: 110%;
}

.price-legend {
		width: 20%;
		height: 25px;
		margin-bottom: 15px;
		background: #FFFFD4;
		float: left;
		font-size: 10px;
		border-top: 1px solid #993404;
		border-bottom: 1px solid #993404;
		padding-top: 5px;
}

#price-legend0 {
    background: #FFFFD4;
    border-top-left-radius: 6px 6px;
    border-bottom-left-radius: 6px 6px;
    border: 1px solid #993404;
    border-right: 0px;
}
#price-legend1 { background: #FED98E }
#price-legend2 { background: #FE9929 }
#price-legend3 { background: #D95F0E; color: #FFFFD4; }
#price-legend4 {
    background: #993404;
    color: #FFFFD4;
    border-top-right-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    border: 1px solid #993404;
    border-left: 0px;
}

.icon-remove {
  float: left;
  cursor: pointer;
}
#concerts-list .btn {
  width: 75%;
  float: left;
}

